div{
    position: relative;
    margin: 100px auto auto auto;
    width: 900px;
    height: 400px;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 26px;
}
#textaleatorio{
    color:red;
}